<h1>Оформление заказа</h1>
<form action="/Shop/Checkout" method="post">
    <label>ФИО: <input type="text" name="name" required /></label><br>
    <label>Номер телефона: <input type="tel" name="phone" required /></label><br>
    <label>Адрес: <input type="text" name="address" required /></label><br>
    <button type="submit">Отправить</button>
</form>
